<?xml version="1.0"?>
<config>
    <modules>
        <Voga_Sizetables>
            <version>0.0.46</version>
        </Voga_Sizetables>
    </modules>
    <global>
        <helpers>
            <voga_sizetables>
                <class>Voga_Sizetables_Helper</class>
            </voga_sizetables>
        </helpers>
        <blocks>
            <voga_sizetables>
                <class>Voga_Sizetables_Block</class>
            </voga_sizetables>
        </blocks>
        <models>
            <voga_sizetables>
                <class>Voga_Sizetables_Model</class>
                <resourceModel>voga_sizetables_resource</resourceModel>
            </voga_sizetables>
            <voga_sizetables_resource>
                <class>Voga_Sizetables_Model_Resource</class>
                <entities>
                    <table_sizetables>
                        <table>voga_sizetables</table>
                    </table_sizetables>
                </entities>
            </voga_sizetables_resource>
        </models>
        <resources>
            <voga_sizetables_setup>
                <setup>
                    <module>Voga_Sizetables</module>
                    <class>RonisBT_AdminForms_Model_Entity_Setup</class>
                </setup>
            </voga_sizetables_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <voga_sizetables>
                    <file>voga_sizetables.xml</file>
                </voga_sizetables>
            </updates>
        </layout>
        <events>
            <adminforms_block_edit_tabs>
                <observers>
                    <voga_sizetables_observer>
                        <class>voga_sizetables/observer</class>
                        <method>addTab</method>
                    </voga_sizetables_observer>
                </observers>
            </adminforms_block_edit_tabs>
            <adminforms_block_save_after>
                <observers>
                    <onworld_athlete_observer>
                        <type>singleton</type>
                        <class>voga_sizetables/observer</class>
                        <method>saveCatId</method>
                    </onworld_athlete_observer>
                </observers>
            </adminforms_block_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <voga_sizetables>
                <use>admin</use>
                <args>
                    <module>Voga_Sizetables</module>
                    <frontName>sizetables</frontName>
                </args>
            </voga_sizetables>
            <adminhtml>
                <args>
                    <modules>
                        <voga_sizetables after="Mage_Adminhtml">Voga_Sizetables_Adminhtml</voga_sizetables>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <sizetables>
                <use>standard</use>
                <args>
                    <module>Voga_Sizetables</module>
                    <frontName>size-guide</frontName>
                </args>
            </sizetables>
        </routers>
        <layout>
            <updates>
                <sizetables>
                    <file>voga_sizetables.xml</file>
                </sizetables>
            </updates>
        </layout>
    </frontend>
</config>
